@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    background-color: rgba(223, 217, 217, 0.678);
}
#title {
    background-color: whitesmoke;
    border: 2px solid;
    font-family: 'ZCOOL KuaiLe', cursive; 
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow:
    0.05em 0.05em 0 rgb(240, 240, 164),
    0.08em 0.08em 0 rgb(209, 211, 90),
    0.10em 0.10em 0 rgb(230, 215, 148),
    0.12em 0.12em 0 rgb(226, 191, 120);

}
.container {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.one {
    padding: .5rem;
    margin: 2rem;   
    display: grid;
    flex-direction: row;
    justify-content: center; 
    
}

input {
padding: .5rem; 
margin: .1rem;  
display: flex;
flex-direction: row;
justify-content: center;
font-family: 'ZCOOL KuaiLe', cursive;
color: rgb(73, 30, 30);
}


.two {
    text-shadow:
    0.05em 0.05em 0 rgb(240, 240, 164),
    0.08em 0.08em 0 rgb(209, 211, 90),
    0.10em 0.10em 0 rgb(230, 215, 148),
    0.12em 0.12em 0 rgb(226, 191, 120);
}


